# client-side requirements, pretty light-weight right?
# tensorflow >= 1.10.0
# tensorflow-gpu >= 1.10.0  # GPU version of TensorFlow.
GPUtil >= 1.3.0  # no need if you dont have GPU
pyzmq >= 17.1.0  # python zmq